body#trading-aid {
    background: #FFFFFF;
}

div#raceData {
    text-align: left;
    width: 100%;
}

table {
    border-collapse: collapse;
    display: table;
    border-spacing: 2px;
    border-color: grey;
    padding: 0;
    white-space: nowrap;
}

th, td {
    text-align: right;
}

#raceTable {
    color: black;
    border: 1px solid #dddddd;
    width: 100%;
    table-layout: fixed;
    overflow-x: auto;
}

#raceTableMin {
    color: black;
    border: 1px solid #dddddd;
    width: 100%;
    overflow-x: auto;
}

table#raceTable thead {
    color: white;
    background-color: #555b5e;
    font-size: 80%;
}

table#raceTableMin thead {
    color: white;
    background-color: #555b5e;
    font-size: 80%;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.horse-info {
    text-align: left;
    width: 10%;
}

table#raceTable tbody > tr:hover{
    /*background-color: #c3dfff;*/
    border: 1px solid black;
}

table#raceTableMin tbody > tr:hover{
    /*background-color: #c3dfff;*/
    border: 1px solid black;
}

.raceInfo {
    background-color: #d6ebfe;
    height: 30px;
    font-size: 100%;
    text-align: left;
    cursor: default;
}

.sticky-th {
    background-color: #555b5e;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
}

.sticky-general {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.compact-data {
    width: 3em;
}


.bordered-left {
    border-left: 1px solid #292929;
}

.bordered-right {
    border-right: 1px solid #292929;
}

.bordered-bottom {
    border-bottom: 1px solid #292929;
}

.bordered-top {
    border-top: 1px solid #292929;
}

.bolded-font {
    font-weight: bold;
}

.centered {
    text-align: center;
}

.stars {
    width: 8em;
}