<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:replace="fragments/navigation :: headCommon"></th:block>
    <th:block th:replace="fragments/queries :: headDatatables"></th:block>

</head>
<body class="nav-md">
<!--/*@thymesVar id="raceSearch" type="uk.co.punishell.insideview.view.commands.guiCommands.RaceSearch"*/-->
<!--/*@thymesVar id="race" type="uk.co.punishell.insideview.view.commands.entityCommands.RaceCommand"*/-->
<!--/*@thymesVar id="races" type="java.util.List"*/-->
<!--/*@thymesVar id="runner" type="uk.co.punishell.insideview.view.commands.entityCommands.RunnerCommand"*/-->
<!--/*@thymesVar id="runners" type="java.util.List"*/-->
<div class="container body">

    <div class="main_container">

        <div th:replace="fragments/navigation :: leftNavigationMenu"></div>

        <div th:replace="fragments/navigation :: topNavigationMenu"></div>

        <div class="right_col" role="main">

            <div class="page-title">
                <div class="title_left">
                    <h3>Query</h3>
                </div>
            </div>

            <div th:replace="fragments/queries :: queryForm"></div>

            <div  th:if="${session.raceSearchResult != null}">
                <div th:replace="fragments/queries :: queryRaceResult"></div>
            </div>

            <div  th:if="${session.runnerSearchResult != null}">
                <div th:replace="fragments/queries :: queryRunnerResult"></div>
            </div>

        </div>

    </div>

</div>
<th:block th:replace="fragments/navigation :: scriptsCommon"></th:block>

<th:block th:replace="fragments/queries :: scriptsQueryForm"></th:block>


<th:block th:if="${session.raceSearchResult != null}"
          th:replace="fragments/queries :: scriptsDatatables"></th:block>
</body>
</html>